.backdrop {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: var(--transition-timing-function);
  transition: var(--transition-duration);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: relative;
  // width: 528px;
  // height: 581px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: var(--shadow);
  padding: 40px;
}
// @media screen and (min-width: 480px) {
//   .modal{
//     width: 450px;
//     height: 609px;
    
//   }
// }
// @media screen and (min-width: 1200px) {
//   .modal {
//   width: 528px;
//     height: 581px;
//   }
// }


.modal-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid var(--main-background-section-two);
  padding: 0;
  transition: border-color var(--transition-timing-function);
  transition: border-color var(--transition-duration);
      &:hover,
      &:focus {
      border-color: var(--logo-color-blue-blue);
    }
}
.modal-close-btn:hover .modal-close-btn-icon,
.modal-close-btn:focus .modal-close-btn-icon {
  fill: var(--logo-color-blue-blue);
}
.modal-close-btn-icon {
  transition: fill var(--transition-timing-function);
  transition: fill var(--transition-duration);
}
.current-page {
  color: var(--accent-color);
  position: relative;
  transition-property: color;
    &:hover,
    &:focus {
      color: var(--logo-color-blue-blue);
    }
}

.current-page::after {
  background-color: var(--accent-color);
}
.current-page:hover::after,
.current-page:focus::after {
  background-color: var(--logo-color-blue-blue);
}