.form-heading {
  text-align: center;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  
}
.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-form-field {
  margin-bottom: 16px;
}
.modal-form-input-desc {
  display: block;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 4px;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}
.modal-form-input-wrapper {
  display: block;
  position: relative;
}
.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  // padding-left: 42px;
  transition: border-color var(--transition-timing-function);
  transition: border-color var(--transition-duration);
      &:hover {
      outline: none;
      border-color: var(--logo-color-blue-blue);
    }
}


/* =================================иконки============================================= */
.modal-form-input-icon {
  position: absolute;
  display: block;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  background-color: var(--main-header-background-size);
  transition: border-color var(--transition-timing-function);
  transition: border-color var(--transition-duration);
}

/* =================================иконки============================================= */
.modal-form-input:focus+.modal-form-input-icon,
.modal-form-input:hover+.modal-form-input-icon {
  fill: var(--logo-color-blue-blue);
  transition: fill var(--transition-timing-function);
  transition: fill var(--transition-duration);
}

.modal-form-message {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  height: 120px;
  padding: 10px 16px;
  resize: none;
  border-radius: 4px;
  transition: border-color var(--transition-timing-function);
  transition: border-color var(--transition-duration);
      &:focus,
      &:hover {
      border-color: var(--logo-color-blue-blue);
    }
}
.modal-form-message::placeholder {
  font-size: 14px;
  color: var(--primary-text-color);
  transition: border-color var(--transition-timing-function);
  transition: border-color var(--transition-duration);
}
.modal-form-check-desc {
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  color: var(--primary-text-color);
}
// @media screen and (min-width: 768px) {
//   .modal-form-check-desc {
//     font-size: 10px;
//   }
// }
.modal-form-check{
  font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
}

.modal-form-check:focus~.modal-form-check-desc {
  color: var(--logo-color-blue-blue);
}

.modal-form-check-desc::before {
  display: flex;
  width: 16px;
  height: 15px;
  content: '';
  cursor: pointer;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='15' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M14 2v11H2V2h12Zm0-2H2L0 2v11l2 2h12l2-2V2l-2-2Z' fill='%23212121'/%3e%3c/svg%3e");
  margin-right: 10px;
}

.modal-form-check:checked+.modal-form-check-desc::before {
  border-color: var(--logo-color-blue-blue);
  background-color: var(--logo-color-blue-blue);
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='13' height='10' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M2 5 1 6l3 3h1l7-7-1-1-7 6-2-2Z' fill='%23fff' stroke='%23fff' stroke-width='.2'/%3e%3c/svg%3e");
}

.modal-form-submit {
  font-weight: 700;
  padding: 10px 55px;
  border-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: var(--main-header-background-size);
  background-color: #2196F3;
  border: #2196F3;
  min-width: 160px;
  align-self: center;
  transition: var(--transition-timing-function);
  transition: var(--transition-duration);
  box-shadow: var(--shadow);
      &:hover,
      &:focus {
      background-color: var(--homepage-button-color);
      color: var(--main-header-background-size);
      box-shadow: var(--shadow);
    }
}




.linkk {
  color: #2196F3;
  border-bottom: 1px solid currentColor;
  display: inline-block;
  line-height: 0.85;
}
.visually-hidden {
  position: absolute;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}