// =======секция№1================
@import"./business/business";
@import"./business/buttonmain";
// =======секция№1================


// =======секция№2================
// @import"./list-section/list-section";
// @import"./list-section/sidebarh";
// =======секция№2================
@import"./advantages";
// =======секция№2================


// =======секция№3================
@import"./box-z/technicali";
// =======секция№3================

// =======секция№4================
@import"./teams/teams";
// =======секция№4================

// =======секция№5================
@import"./clien/clients";
// =======секция№5================


// =======футер===================
@import"./footer";
// =======футер===================

// =======кнопка-заказ===================
@import"./moalwindows";
@import"./modal";
// =======кнопка-заказ===================


// ==========портфолио======================
@import"./portfolio/portfolio";
// ==========портфолио======================



// // ==========окно-моб============
@import"./comp-heder/modal";
@import"./comp-heder/win-btn";
@import"./comp-heder/win-mob-conterner";
@import"./comp-heder/win-mobil";
@import"./comp-heder/win-zakaz";
// // ==========окно-моб============


