@media screen and (max-width: 768px) {
    .menu {
        display: none;
    }
}

.mobile-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    max-height: 796px;
    z-index: 1000;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms linear;
    background-color: aquamarine;
}
.mobile-menu-open_icon {
&:hover,
    &:focus {
        fill: #2196F3;
    }
}
.mobile-menu__close-btn {
    position: absolute;
    top: 14px;
    right: 14px;
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
}
.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}




@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}

// ==============бургер нон=============
@media screen and (min-width: 768px) {
    .mobile-menu-open_icon {
        display: none;
    }
}

.mobile-menu__container {
    position: relative;
}

// =========m-batton======
.mobile-menu__close-btn {
    position: absolute;
    top: 14px;
    right: 14px;
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
}

// ================скрипт закрітия моб меню=======================
.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

// ====================стили-кишки-мобильного меню======================
.modile-menu {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.175;
    letter-spacing: 0.02em;
    margin-bottom: 302px;
    padding: 48px 0 0 40px;
}

.modile-menu__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.modile-menu__item {
    margin-bottom: 32px;
}

.modile-contacts {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    list-style: none;
    margin: 0;
    padding-left: 40px;
}

.modile-contacts__item {
    margin-bottom: 32px;

    &:first-child {
        .modile-contacts__link {
            color: #2196F3;
        }
    }
}

.modile-contacts__link {
    // text-decoration: none;
    color: #757575;
    white-space: nowrap;
}

.modile-social {
    display: flex;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    list-style: none;
    padding: 0;
    margin: 0 0 0 -10px;
    flex-wrap: wrap;
    justify-content: center;
}

.modile-social__list {
    padding: 0 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);

    &:first-child {
        padding-left: 0;
    }
}

.modile-social__link {
    // text-decoration: none;
    color: #2196F3;
}

.modile-menu__link {
    color: #212121;
    // text-decoration: none;
}

.modile-menu__active {
    color: #2196F3;
}