// @media screen and (max-width: 767px) {
//     .mob_list {
//         display: none;
//     }
// }

.mob_list,
.remua {
    @media screen and (max-width: 767px) {
        display: none;
    }
}



.page-heder-conterner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media screen and (max-width: 767px){
.page-header {
    padding-top: 16px;
    padding-bottom: 16px;
}
}
.mobile-menu-open {
    background-color: transparent;
    border: none;
    padding: 0;
}