// @media screen and (max-width: 767px) {
//     .mob_list {
//         display: none;
//     }
// }

.mob_list,
.remua {
    @media screen and (max-width: 767px) {
        display: none;
    }
}



.page-heder-conterner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

// .page-header {
//     padding-top: 14px;
//     padding-bottom: 14px;
// }

.mobile-menu-open {
    background-color: transparent;
    border: none;
    padding: 0;
}