@media screen and (max-width: 1199px) {

    .br-smart {
        margin-top: 10px;
    }
    .remua {
        flex-direction: column;
    }
}


@media screen and (mix-width: 1200px) {

    .mailto {
        margin-left: 96px;
    }
    .remua {
        flex-direction: row;
    }
    .tel {
    margin-left: 20px;
    }
    .mailto-menu__smart {
    margin-left: 10px;
    }
}





