.flex {
    display: flex;
    align-items: center;
}

.logo {
    text-decoration: none;
    display: flex;
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
}
        .mailto {
            line-height: 1.14;
            letter-spacing: 0.02em;
            color: var(--primary-text-color);
        }

        .smartphone:hover,
        .smartphone:focus {
            fill: var(--logo-color-blue-blue);
        }
        .mailto-menu__smart {
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--primary-text-color);
            margin-right: 10px;
    
            &:hover,
            &:focus {
                fill: var(--logo-color-blue-blue);
            }
        }
        .list-mp {
            list-style: none;
            display: flex;
        }
        .tel {
            letter-spacing: 0.02em;
            color: var(--primary-text-color);
        }
.menu:not(:last-child) {
    margin-right: 30px;
}

.list:not(:last-child) {
    margin-right: 30px;
}
