.logo-Wed {
    font-family: var(--font-releway);
    color: var(--logo-color-blue-blue);
    font-weight: var(--font-weight700);
    font-size: var(--font-size26);
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.logo-Studio {
    font-family: var(--font-releway);
    color: var(--border-top-color);
    font-weight: var(--font-weight700);
    font-size: var(--font-size26);
    line-height: 1.19;
    letter-spacing: 0.03em;
}