:root {
  --logo: #2196F3;
  --button: #188CE8;
  --border: #000000;
  --main: #212121;
  --secondary: #757575;
  --size: #ffffff;
  --section-one: #2F303A;
  --sec-button: #F5F4FA;
  --social: #AFB1B8;
  --header-border: #ECECEC;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.2;
  background-color: var(--size);
}

body.modal-open {
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  min-width: 320px;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}